.App {
    margin: 4em 1em;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 500px;
}
.App-header {
    text-align: center;
}
@media only screen and (max-width:600px) {   
    .App {
        width: 90vw;
    }
}